.input-wrapper{
    background-color: transparent;
    border: none;
    padding: 5px;
    box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
    background-color: #FFFD75;
    transform: rotate(2deg);
    transform: skew(-1deg,1deg);
    transition: transform .15s;
    align-content: end;
    width: 200px;
}

.memo-input-wrapper a{
    float:right;
    cursor:pointer;
    margin-left: 5px;
}

.submit-button{
    margin-left:100px;
    left: 100px;
}
.memo-input{
    text-decoration:none;
    background: transparent;
    width:100%;
    min-height: 150px;
    border: none;
    color          : #333;
    font-family    : AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    font-size      : 15px;      /* inline style */
    letter-spacing : -0.34px;   /* -0.02em */
    line-height    : 27.625px;  /* 1.625 */

}
.memo-text{
    display: block;
    text-decoration:none;
    background:#ffc;
    width:100%;
    min-height: 150px;
    border:none;

    color          : #333;
    font-family    : AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    font-size      : 15px;      /* inline style */
    letter-spacing : -0.34px;   /* -0.02em */
    line-height    : 27.625px;  /* 1.625 */

}

.memo-minimize{
    height :0px;
}
