@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2') format('woff2'), url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff') format('woff'), url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2') format('woff2'), url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff') format('woff'), url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf') format('opentype');
  }
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,em,img,ol,ul,li,fieldset,label,form,tbody,tfoot,thead,tr,th,td,footer,header,button,textarea {
  
  font-family: 'Noto Sans KR', Sans-serif;
 
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
}
.my-extension h1 {
     color: #000;
 }

.my-extension {
    padding: 10px;
    background-color:#F9F9F9;
}

.header-button {
    width:50%;
    height:35px;
    /*background-color:#93CC8D;*/
    background-color: 	#83b8f4;
    border:1px solid white;
}
.header-button-div {
    width:100%;
}

.search-input {
    /*background-color:#93CC8D;*/
    background-color: 	#83b8f4;
    width: 100%;
    height:40px;
    border: 1px solid white;
}

.memo-title-input {
    height: 20px;
    width: 100%;
    border: 1px solid black;
    border-bottom:none;
}
.memo-content-input {
    height: 80px;
    width: 100%;
    overflow: auto;
    border: 1px solid black;

}
.memo-content-tag {
    height: 20px;
    width: 80%;
    border: 1px solid black;
}

.iframe-buttons {
    height:21px;
    /*background-color: #86AA31;*/

    background-color: #83b8f4;
    border: 1px solid white;
    margin: 1px;
}
.iframe-memo-url{
}
.iframe-memo-link {
    
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    width:90%;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    visibility: visible;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    
}
.iframe-memo-link > a{
    color:black;
}
.iframe-memo-link > a:hover{
    color:white;
}
.submit-memo-button {
    width:20%;
}

.tag-and-button-wrapper, .memo-top-wrapper {
    display:flex;
    justify-content: space-around;
}

.iframe-memo-title {
    width:80%;
} 
.iframe-memo-url  {
    width:95%;
}
.iframe-memo-title{
    word-break: break-all;
}
.temp-text-wrapper {
    display:flex;
}

.memo-item {
    background-color:#83b8f4;
    border: 1px solid white;
    margin-bottom:3px;
    padding:6px 10px;

}

.iframe-memo-buttons-container {
    display:flex;
}
.max-icon {
    width:15px;
    height:15px;
}
.url-container {
    display:flex;
}
.clip-image {
    width:15px;
    height:15px;
}

.iframe-memo-xbutton {    
    width:16px;
    height:16px;
}

.iframe-memo-content {
    overflow: auto;
    word-break: break-all;
    background-color:white;
    padding:5px 5px;
    border-radius: 10px;
    height:70px;
}

.iframe-memo-content.over {
    height:auto !important;
}
.iframe-memo-content::-webkit-scrollbar { 
    display: none; 
}


svg {
    width:50px;
}

.on_pager {
    background-color: #83b8f4;
    font-weight:900;
}